/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

:root {
	--color1: #557b83;
	--color2: rgb(5, 89, 91);
	--overlaycolor: rgba(43, 62, 66, 0.521);
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--color1);
	color: white;
}

ul {
	list-style-type: none;
}

h2 {
	text-align: center;
	padding: 1rem 0;
	font-size: 3rem;
}

.button {
	background-color: transparent;
	color: white;
	padding: 8px 30px;
	margin: 1rem 0;
	border-radius: 4px;
	border: 1px solid #ffffff;
	cursor: pointer;
}

button:hover {
	background-color: var(--color2);
}

.container {
	max-width: 75%;
	margin: 0 auto;
	padding: 0 30px;
}

header {
	background-color: var(--color2);
	height: 60px;
	text-transform: uppercase;
}

.logo {
	font-size: x-large;
	font-weight: bold;
}

header a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
}

header a:hover {
	text-decoration: underline;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

header ul {
	display: flex;
}

header ul li {
	margin-left: 30px;
}

.hero {
	background-image: url(./images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 55vh;
	display: flex;
}

.hero-overlay {
	background-color: var(--overlaycolor);
	flex: 1;
}

.hero .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
@media (max-width: 768px) {
	.hero .text-wrapper{
		text-align: center;
		margin: 0 !important;
		padding: 0%;
	}
}

.hero h1 {
	font-size: 3rem;
	font-weight: 900;
}

.hero .text-wrapper {
	margin-right: 5rem;
	flex: 1;
}

.hero .image-wrapper {
	min-width: 200px;
	max-width: 25%;
	flex: 1;
}

.hero img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top;
	border: 5px solid white;
	border-radius: 50%;
}

.hero h3 {
	text-align: center;
	margin-top: 1rem;
}

.clock {
	font-kerning: none;
}

.color-pick {
	background-color: var(--color2);
	padding: 1rem 0;
}

.color-pick .container {
	height: 100%;
	margin-bottom: 2rem;
}

.color-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
}

.color-button {
	/* background-color: pink; */
	height: 100px;
	flex: 1;
	border: 3px solid white;
	display: flex;
	cursor: pointer;
	opacity: 0.8;
}

.color-button:hover {
	opacity: 1;
}

#palette1 .color1 {
	background-color: #557b83;
	height: 100%;
	flex: 1;
}
#palette1 .color2 {
	background-color: #2b3e42;
	height: 100%;
	flex: 1;
}

#palette2 .color1 {
	background-color: #e2d784;
	height: 100%;
	flex: 1;
}

#palette2 .color2 {
	background-color: #05595b;
	height: 100%;
	flex: 1;
}

#palette3 .color1 {
	background-color: #dfd3c3;
	height: 100%;
	flex: 1;
}

#palette3 .color2 {
	background-color: #596e79;
	height: 100%;
	flex: 1;
}

.project {
	background-color: var(--color1);
}

.project h3 {
	font-size: 1.5rem;
}

.project .container {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	gap: 3rem;
}

.project .project-wrapper {
	height: 100%;
	min-width: auto;
	flex: 2;
	display: flex;
	padding: 1rem 0;
}

.project img {
	object-fit: cover;
	min-width: 370px;
	object-position: top;
	border: 3px solid white;
	box-shadow: 3px 3px 25px 5px var(--color2);
}

.project .info-wrapper {
	height: 100%;
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.divider {
	width: 100%;
	background-color: white;
	height: 5px;
	margin: 25px 0;
}

.skills {
	margin-top: 25px;
	padding: 2rem 0;
	background-color: var(--color2);
}

.skills .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills .skill-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills img {
	width: 150px;
	margin-bottom: 1rem;
}

footer {
	background-color: white;
	color: #2b3e42;
}

footer button {
	border: 3px solid var(--color2);
	color: white;
	margin-bottom: 1rem;
}

footer button:hover * {
	color: white;
}

footer .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

footer a {
	color: var(--color2);
	text-decoration: none;
	font-weight: bold;
}
